<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Brand or Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
</head>
<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<suplier>
    <h1 style="text-align: center" class="text-uppercase font-weight-bold"> Danh mục Nhà cung cấp
        <a th:href="'/Lab/admin/Export/ManagingUnits'" >
            <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%" >
        </a>
    </h1>
    <!--<div th:replace="admin/add-nocite.html :: notice"></div>-->
    <div class="form-group" style="display: flex ; justify-content: space-around">
        <form th:action="@{'/Lab/admin/ManagingUnit/delete'}" method="post">
            <div>
                <label for="managingunit" >Tên Nhà cung cấp:</label>
                <select class="form-control" id="managingunit" name="managingunitId"  required>
                    <option th:each="supplier : ${suppliersx}" th:value="${supplier.id}" th:text="${supplier.suppliername}"></option>
                </select>
                <label for="role" class="text-warning">Chỉ xóa được các nhà cung cấp chưa sử dụng</label>
            </div>
            <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có thực sử muốn xóa đơn vị này')" > Xóa </button>
        </form>
        <div style="display: flex; justify-content: space-around">
            <form th:action="'/Lab/admin/ManagingUnit/add'" method="post">
                <div style="margin-right: 10px">
                    <label for="addmanagingunit" >Thêm Nhà cung cấp:</label>
                    <input type="text" class="form-control" id="addmanagingunit" name="managingunit" required>
                </div>
                <button type="submit" class="btn btn-primary" onclick="return confirm('Bạn có thực sử muốn thêm đơn vị này')"> Thêm mới</button>
            </form>
        </div>
    </div>
    <br>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Thao tác</th>
                    <!--<th>Loại quyền</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="supplier, iter : ${suppliers}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${supplier.suppliername}"></td>
                    <td>
                        <button class="btn btn-primary edit" th:data="${supplier.id}">Sửa</button>
                    </td>
                    <!--<td th:unless="${role.role == rolesNotRoleSystem[iter.index].role}" th:text="'Quyền nười dùng thêm'"></td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Thao tác</th>
                    <!--<th>Loại quyền</th>-->
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/noticePopUp.js"></script>
    <script th:inline="javascript">
        var inputs = $('.lesson');
        $(document).ready(function () {
            var lessonDTOs = [[${lessonDTOs}]];
            $('#warning').hide();
            $('.edit').click(function() {
                var lessonId = $(this).attr('data');
                console.log('lessonId = ' + lessonId);
                var lesson = $.grep(lessonDTOs, function(lessonDTO) {
                    return lessonDTO.id == lessonId;
                });
                console.log(lesson[0]);


                if($('#id').val()==lessonId){
                    $('#id').val(0);
                    $('#noLesson').val("");
                    $('#name').val("");
                    $('#module').val("");
                    $('#level').val("");
                    $('#workTime').val(5);
                    $('#type').val("");
                    $('#note').val("");
                    $('#btnSubmit').text('Thêm mới')
                    inputs.each(function() {
                        $(this).removeClass('font-weight-bold')
                    })
                    $('#warning').hide()
                } else {
                    // Populate the input and select fields with lesson information
                    $('#id').val(lesson[0].id);
                    $('#noLesson').val(lesson[0].noLesson);
                    $('#name').val(lesson[0].name);
                    $('#module').val(lesson[0].module);
                    $('#labId').val(lesson[0].labId);
                    $('#level').val(lesson[0].level);
                    $('#workTime').val(lesson[0].workTime);
                    $('#type').val(lesson[0].type);
                    $('#note').val(lesson[0].note);
                    $('#btnSubmit').text('Sửa')
                    inputs.each(function() {
                        $(this).addClass('font-weight-bold')
                    })
                    $('#warning').show();
                }

            })
        })

        $('#formLesson').submit(function(event) {
            event.preventDefault(); // Prevent form submission

            // Check if all fields have data
            var isValid = true;
            console.log(inputs)
            inputs.each(function() {
                if ($(this).val() === '') {
                    isValid = false;
                    var fieldName = $(this).attr('name');
                    alert('Điền đầy đủ thông tin vào trường ' + fieldName);
                    return false; // Exit the loop
                }
            });

            if (isValid) {
                // Confirm before submitting the form
                if (confirm('Bạn có chắc chắn muốn thêm mới?')) {
                    // Submit the form
                    $(this).unbind('submit').submit();
                }
            }
        });
        $('#btnSubmit').click(function() {
            $('#formLesson').submit(event);
        });
    </script>
</suplier>
</body>
</html>