<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Brand or Category</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Phone</title>
    <!-- Link to Bootstrap CSS for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}">-->
</head>
<body>
<!--<div th:replace="admin/headerAdmin :: header-admin"></div>-->
<suplier>
    <h1 style="text-align: center" class="text-uppercase font-weight-bold"> Danh mục Nhà cung cấp
        <a th:href="'#'" >
            <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%" >
        </a>
    </h1>
    <!--<div th:replace="admin/add-nocite.html :: notice"></div>-->
    <div class="form-group row d-flex justify-content-center align-content-center" style="display: flex ; justify-content: space-around">
        <form th:action="@{'/Lengkeng/admin/suppliers/del'}" method="post" class="col-3 d-flex flex-column align-content-center justify-content-start mx-2">
            <label for="supplier_id" >Tên Nhà cung cấp:</label>
            <select class="form-control" id="supplier_id" name="id"  required>
                <option th:each="supplier : ${suppliersx}" th:value="${supplier.id}" th:text="${supplier.suppliername}"></option>
            </select>
            <button type="submit" class="btn btn-danger mt-2" onclick="return confirm('Bạn có thực sử muốn xóa này')" > Xóa </button>
            <label class="text-warning mt-2 btn">Chỉ xóa được các nhà cung cấp chưa sử dụng</label>
        </form>
        <div style="display: flex; justify-content: space-around" class="col-8">
            <form th:action="'/Lengkeng/admin/suppliers/add'" method="post" id="formSupplier"
                  class="d-flex justify-content-center align-content-center flex-column">
                <div class="row d-flex justify-content-center align-content-center">
                    <input type="hidden" name="username" th:value="${#authentication.name}">
                    <input type="hidden" name="id" id="id" th:value="0">
                    <div class="col-4">
                        <label for="name" >Tên nhà cung cấp:</label>
                        <input type="text" class="form-control supplier" id="name" name="suppliername" placeholder="VD: Shop Hương Linh" required>
                    </div>
                    <div class="col-4">
                        <label for="address" >Địa chỉ:</label>
                        <input type="text" class="form-control supplier" id="address" name="address" placeholder="VD: số 4 tôn thất thiệp, ba đình, hà nội" required>
                    </div>
                    <div class="col-4">
                        <label for="contact" >Thông tin liên lạc:</label>
                        <input type="text" class="form-control supplier" id="contact" name="contact" placeholder="VD: 0357211198" required>
                    </div>
                </div>
                <button type="submit" id="btnSubmit" class="btn btn-primary mt-2"> Thêm mới</button>
                <p class="text-warning mt-2 btn" id="warning">Chú ý: Click lại nút sửa một lần nữa để hủy chế độ sửa</p>
            </form>
        </div>
    </div>
    <br>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Địa chỉ</th>
                    <th>Liên lạc</th>
                    <th>Thao tác</th>
                    <!--<th>Loại quyền</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="supplier, iter : ${suppliers}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${supplier.suppliername}"></td>
                    <td th:text="${supplier.address}"></td>
                    <td th:text="${supplier.contact}"></td>
                    <td class="d-flex flex-row justify-content-center align-content-center">
                        <button type="button" class="form-control btn btn-primary btn-edit m-1"
                                th:data-id="${supplier.id}"
                                th:data-name="${supplier.suppliername}"
                        >Sửa</button>
                    </td>
                    <!--<td th:unless="${role.role == rolesNotRoleSystem[iter.index].role}" th:text="'Quyền nười dùng thêm'"></td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên nhà cung cấp</th>
                    <th>Địa chỉ</th>
                    <th>Liên lạc</th>
                    <th>Thao tác</th>
                    <!--<th>Loại quyền</th>-->
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<script src="/js/popup.js"></script>-->
    <script th:inline="javascript">
        var inputs = $('.supplier');
        $(document).ready(function () {
            var suppliers = [[${suppliers}]];
            $('#warning').hide();
            $('.btn-edit').click(function() {
                var supplier_id = $(this).attr('data-id');
                var supplier = $.grep(suppliers, function(supplier1) {
                    return supplier1.id == supplier_id;
                });
                console.log(supplier[0]);


                if($('#id').val()==supplier_id){
                    $('#id').val(0);
                    $('#name').val("");
                    $('#address').val("");
                    $('#contact').val("");
                    $('#btnSubmit').text('Thêm mới');
                    inputs.each(function() {
                        $(this).removeClass('font-weight-bold')
                    })
                    $('#warning').hide()
                } else {
                    // Populate the input and select fields with lesson information
                    $('#id').val(supplier[0].id);
                    $('#name').val(supplier[0].suppliername);
                    $('#address').val(supplier[0].address);
                    $('#contact').val(supplier[0].contact);
                    $('#btnSubmit').text('Sửa');
                    inputs.each(function() {
                        $(this).addClass('font-weight-bold')
                    })
                    $('#warning').show();
                }

            })
        })
    </script>
</suplier>
</body>
</html>