<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thyme leaf-extras-springsecurity5">
<head>
    <title>Dashboard xx</title>
</head>
<body>
<dashboard >
<!--<div th:replace="layout :: layout(~{:: .container-fluid})">-->
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
<h1> Đây là dashboard</h1>
</div>
</dashboard>
</body>
</html>