<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<product-manager>
        <h1 class="text-center text-uppercase font-weight-bold mt-5">Danh sách sản phẩm
            <a href="/Lab/admin/Export/Managers" class="col-3">
                <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%">
            </a>
        </h1>
        <!--<h1 style=" text-align: center; font-size: 2em" th:text="'Số lượng: ' + ${#lists.size(managerDTOS)}"></h1>
        <br>
        <div class="d-flex justify-content-around align-content-center">
            <a href="/Lab/admin/Manager/add">
                <button type="button" class="btn btn-primary font-bold font-size-xlg">Thêm người Quản lý</button>
            </a>
        </div>-->
        <br>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Loại hàng</th>
                        <th>Thương hiệu</th>
                        <th>Nhà cung cấp</th>
                        <th>Đơn vị tính</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product, iter : ${products}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.category.catname}"></td>
                        <td th:text="${product.brand.brandname}"></td>
                        <td th:text="${product.supplier.suppliername}"></td>
                        <td th:text="${product.unit.unit}"></td>
                        <td th:text="${product.productDesc}"></td>
                        <!--<td th:if="${manager.hireEndDate != null}" th:text="'✅ ' + ${manager.hireEndDate}"> </td>-->
                        <!--<td th:if="${manager.hireEndDate == null}"> ❌ </td>-->
                        <td>
                            <div class="d-flex" style="display: flex; justify-content: center; align-items: center;">
                                <form th:action="@{'/Lengkeng/admin/products/edit/' + ${product.id}}"
                                      method="get">
                                    <button type="submit" class="btn btn-info btn-sm mr-1">Chi tiết</button>
                                </form>
                                <form th:action="@{'/Lengkeng/admin/products/del/' + ${product.id}}"
                                      method="POST">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Loại hàng</th>
                        <th>Thương hiệu</th>
                        <th>Nhà cung cấp</th>
                        <th>Đơn vị tính</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </product-manager>
</body>
</html>
