<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/image-popup.css" type="text/css"> <!-- image-popup upload-->
</head>
<body>
<variant-manager>
    <h1 class="text-center text-uppercase font-weight-bold mt-5">Danh sách Biến thế
        <a href="/Lab/admin/Export/Managers" class="col-3">
            <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%">
        </a>
    </h1>
    <a class="btn btn-success" th:href="'/Lengkeng/admin/products?username='+${#authentication.name}"> Trở về Trang sản phẩm</a>
    <form th:action="'/Lengkeng/admin/products/detail/addVariants'" method="post" id="formLesson"
          class="d-flex justify-content-center align-content-center flex-column">
        <!-- Thông tin Sản phẩm -->
        <div class="row d-flex justify-content-between align-content-center border-bottom border-dark rounded p-1 mb-2"
             th:object="${product}">
            <div class="col-2">
                    <span type="text" class="form-control font-weight-bold " required>Tên SP:
                        <span class="text-primary product" th:text="*{productName}"></span>
                </span>
            </div>
            <div class="col-2">
                    <span type="text" class="form-control font-weight-bold " required>Danh mục:
                            <span class="text-primary product" th:text="${product.category.catname}"></span>
                    </span>
            </div>
            <div class="col-2">
                    <span type="text" class="form-control font-weight-bold " required>Thương hiệu:
                            <span class="text-primary product" th:text="${product.brand.brandname}"></span>
                    </span>
            </div>
            <div class="col-3">
                    <span type="text" class="form-control font-weight-bold " required>Nhà cung cấp:
                            <span class="text-primary product" th:text="${product.supplier.suppliername}"></span>
                    </span>
            </div>
            <div class="col-2">
                    <span type="text" class="form-control font-weight-bold " required>Đơn vị tính:
                            <span class="text-primary product" th:text="${product.unit.unit}"></span>
                    </span>
            </div>
        </div>
        <!-- Quản lý Biến thể-->
        <div class="d-flex justify-content-center align-content-center flex-column ">
            <div class="row d-flex justify-content-center align-content-between">
                <input type="hidden" name="username" th:value="${#authentication.name}">
                <input type="hidden" name="product" id="product" th:value="${product.id}">
                <input type="hidden" name="id" id="id" th:value="0">
                <div class="col-2">
                    <label class="font-weight-bold" for="sku">Mã hàng:</label>
                    <input type="text" class="form-control variant" id="sku" name="sku"
                           placeholder="VD: Mã DM - Tên SP - Biến thể và size - Màu viết tắt" required>
                </div>
                <div class="col-2">
                    <label class="font-weight-bold" for="stockQuantity">Tồn kho </label>
                    <input type="number" class="form-control variant" id="stockQuantity" name="stockQuantity"
                           placeholder="VD: 12" min="0" step="1" required>
                </div>
                <div class="col-2">
                    <label class="font-weight-bold" for="size">Kích cỡ</label>
                    <input type="checkbox" id="checkboxSize">
                    <select name="size" id="size" class="form-control variant" disabled>
                        <option th:each="size : ${sizes}" th:value="${size.id}" th:text="${size.sizeName}"></option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="font-weight-bold" for="color">Màu sắc:</label>
                    <select name="color" id="color" class="form-control variant">
                        <option th:each="color : ${colors}" th:value="${color.id}"
                                th:text="${color.color} + '/' + ${color.abbreviations}+ '/' + ${color.hexCode}"
                                th:data-hexCode="${color.hexCode}"
                                th:style="'background-color: ' + ${color.hexCode} + '; color: black;'"></option>
                    </select>
                </div>
                <div class="col-2">
                    <label class="font-weight-bold" for="costPrice">Giá nhập:</label>
                    <input type="number" class="form-control variant" id="costPrice" name="costPrice"
                           placeholder="VD: 250000" required>
                </div>
                <div class="col-2">
                    <label class="font-weight-bold" for="sellingPrice">Giá bán:</label>
                    <input type="number" class="form-control variant" id="sellingPrice" name="sellingPrice"
                           placeholder="VD: 280000" required>
                </div>
            </div>
            <button type="submit" id="btnSubmit" class="btn btn-primary mt-2"
                    onclick="return confirm('Bạn có chắc chắn muốn thực hiện thao tác này???')"> Thêm biến thể mới
            </button>
            <p class="text-warning mt-2 btn" id="warning">Chú ý: Click lại nút sửa một lần nữa để hủy chế độ sửa</p>
        </div>
    </form>
    <!-- Quản lý Thêm hình ảnh -->
    <div class="container" id="addImage" style="display: none">
        <div class="rounded bg-white mx-auto pb-1">
            <form id="upload-form" th:action="@{'/Lengkeng/admin/products/detail/uploadImage'}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="product_id" id="product_id" th:value="${product.id}">
                <input type="hidden" name="variant_id" id="variant_id">
                <div class="upload_container mx-auto p-3 position-relative overflow-auto"
                     ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);" ondragenter="dragEnterHandler(event);">
                    <div class="uploadBox d-flex justify-content-center align-items-center flex-column">
                        <p> Nhấn vào để chọn một hoặc nhiều ảnh</p>
                        <input type="file" id="hidden-input" name="files" multiple class="hidden">
                        <button type="button" id="button" class="border-0">Tải lên ảnh</button>
                    </div>
                    <h5>Danh sách chọn</h5>
                    <ul id="gallery" class="list-unstyled flex-wrap d-flex">
                        <li id="empty" class="itemHeight d-flex justify-content-center align-items-center flex-column">
                            <img class="d-flex mx-auto emptyImage" src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png" alt="no data">
                            <span>Chưa có hình ảnh nào</span>
                        </li>
                    </ul>
                    <div id="overlay" class="dropFile w-100 h-100 position-absolute pointer-events-none flex">
                        <div class="overlayIcon">
                            <i>
                                <svg class="fill-current w-12 h-12 mb-3 text-blue-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                                </svg>
                            </i>
                            <p class="text-lg text-blue-700">Drop files to upload</p>
                        </div>
                    </div>
                </div>
                <div class="btnGroup d-flex justify-content-end my-3">
                    <button type="submit" id="submit" class="btnUploadNow rounded text-white p-1 mx-3">Tải lên</button>
                    <button type="button" id="cancel" class="mx-3">Hủy</button>
                </div>
            </form>
        </div>
    </div>
    <template id="image-template">
        <li class="itemHeight d-flex p-1 col-sm-2 col-1">
            <article tabindex="0" class="group hasImage w-100 rounded  cursor-pointer position-relative">
                <img alt="upload preview" class="img-preview imgSize rounded position-absolute" />
                <section class="d-flex flex-column rounded w-100 h-100 position-absolute image-detail">
                    <h7 class="flex-1 text-center position-absolute left-5 top-0"></h7>
                    <div class="d-flex justify-content-center align-items-center">
                <span class="p-1 position-absolute left-0 bottom-0">
                  <i>
                    <svg class="fill-current imgSize1 ml-auto pt-" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                      <path d="M5 8.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5zm9 .5l-2.519 4-2.481-1.96-4 5.96h14l-5-8zm8-4v14h-20v-14h20zm2-2h-24v18h24v-18z" />
                    </svg>
                  </i>
                  <p class="m-0 size d-inline"></p>
                </span>
                        <button class="delete ml-auto p-1 rounded position-absolute right-0 bottom-0 bg-transparent">
                            <svg class="pointer-events-none imgSize2 ml-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFF">
                                <path class="pointer-events-none" d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z" />
                            </svg>
                        </button>
                    </div>
                </section>
            </article>
        </li>
    </template>
    <template id="file-template">
        <li class="itemHeight d-flex p-1">
            <article tabindex="0" class="group w-100 h-100 rounded position-relative">
                <img alt="upload preview" class="img-preview imgSize hidden w-100 h-100 rounded" />
                <section class="d-flex flex-column rounded w-100 h-100 position-relative py-2 px-3">
                    <h7 class="flex-1 text-center left-5 top-0"></h7>
                    <div class="d-flex justify-content-center align-items-center">
                        <span class="p-1 position-absolute left-0 bottom-0">
                            <i>
                                <svg class="fill-current imgSize1 ml-auto pt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M15 2v5h5v15h-16v-20h11zm1-2h-14v24h20v-18l-6-6z" />
                                </svg>
                            </i>
                            <p class="m-0 size d-inline"></p>
                        </span>
                        <button class="delete p-1 rounded ml-auto position-absolute right-5 bottom-0">
                            <svg class="pointer-events-none fill-current imgSize1 ml-auto" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path class="pointer-events-none" d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z" />
                            </svg>
                        </button>
                    </div>
                </section>
            </article>
        </li>
    </template>
    <!-- Quản lý thuộc tính của sản phẩm-->
    <form th:action="'/Lengkeng/admin/products/detail/addAttributes'" method="post" id="addAttributes" style="display: none">
        <input type="hidden" name="product" th:value="${product.id}">
        <div class="d-flex row flex-wrap justify-content-start" style="display: none">
            <div class="d-flex flex-column justify-content-start align-content-center m-2 col-3">
                <div class="d-flex row justify-content-center align-content-center">
                    <!--<input type="date" id="date" class="form-control m-2 col-sm-6" name="using" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">-->
                    <select class="form-control col-6" name="attribute" required>
                        <option th:each="attribute : ${attributes}" th:value="${attribute.id}" th:text="${attribute.name}"></option>
                    </select>
                    <button type="button" class="btnremove btn btn-primary col-3 ml-2" onclick="remove(this)"> <i class="fa fa-times-circle"> </i> </button>
                </div>
                <input type="search" class="form-control m-3" id="value" name="value" required
                             th:placeholder="'Giá trị thuộc tính'">
            </div>
            <button type="button" class="btn btn-primary m-3"
                    onclick="addInput(this)"> <i class="fa fa-plus-circle"></i> </button>
        </div>
        <button type="submit" class="btn btn-primary mt-2"
                onclick="return confirm('Bạn có chắc chắn muốn thực hiện thao tác này???')"> Thêm
        </button>
    </form>
    <button type="button" class="btn btn-gradient-warning mt-2" id="add_Image" style="display: none;"> Thêm hình ảnh</button>
    <button type="button" class="btn btn-gradient-warning mt-2" id="add_Attribute"> Thêm thuộc tính mới</button>
    <button type="button" class="btn btn-gradient-warning mt-2 btn-edit" id="list_Attributes"> Xem các thuộc tính</button>
    <br>
    <!-- Popup Attribute -->
    <div id="popup" class="popup">
        <div class="popup-content" style="max-width: 200rem; top: 25%; left: 17%">
            <h2>Chi tiết các thuộc tính</h2>
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table style="width: 100%;" class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên thuộc tính</th>
                            <th>Giá trị</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="attributeValue, iter : ${attributeValues}">
                                <td th:text="${iter.index + 1}"></td>
                                <td th:text="${attributeValue.attribute.name}"></td>
                                <td th:text="${attributeValue.value}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên thuộc tính</th>
                            <th>Giá trị</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <button type="button" class="btn btn-secondary close-btn">Đóng</button>
        </div>
    </div>
    <!-- Popup Image -->
    <div id="popup-image" class="popup-image">
        <div class="popup-content" style="max-width: 200rem; top: 25%; left: 17%">
            <h2>Hình ảnh của biến thể</h2>
            <div class="main-card mb-3 card">
                <div id="card-body">
                </div>
            </div>
            <button type="button" class="btn btn-secondary close-btn">Đóng</button>
        </div>
    </div>
    <br>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên SP</th>
                    <th>SKU</th>
                    <th>Kích cỡ</th>
                    <th>Màu</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Tồn kho</th>
                    <th>Thao tác</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="variant, iter : ${variants}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${variant.product.productName}"></td>
                    <td th:text="${variant.sku}"></td>
                    <td> <span th:if="${variant.size != null}" th:text="${variant.size.sizeName}"></span></td>
                    <td th:text="${variant.color.color}"></td>
                    <td th:text="${variant.costPrice}"></td>
                    <td th:text="${variant.sellingPrice}"></td>
                    <td th:text="${variant.stockQuantity} + ' ' +${variant.product.unit.unit} "></td>
                    <td>
                        <div class="d-flex" style="display: flex; justify-content: center; align-items: center;">
                            <button type="button" class="btn btn-sm btn-primary btn-edit-variant mr-1"
                                    th:data-id="${variant.id}"
                            >Sửa
                            </button>
                            <button type="button" class="btn btn-info btn-sm mr-1 image_variant "
                                    th:data-product-id="${variant.product.id}"
                                    th:data-id="${variant.id}">Xem ảnh</button>
                            <form th:action="@{'/Lengkeng/admin/variants/del/' + ${variant.id}}"
                                  method="POST">
                                <button type="submit" class="btn btn-danger btn-sm"
                                        onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên SP</th>
                    <th>SKU</th>
                    <th>Kích cỡ</th>
                    <th>Màu</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Tồn kho</th>
                    <th>Thao tác</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <script src="/js/popup.js" type="application/javascript"></script>
    <script src="/js/product/image-popup.js" type="application/javascript"></script> <!-- image-popup upload-->
    <script src="/js/change-color.js" type="application/javascript"></script>
    <script src="/js/product/product_detail_variants.js" type="application/javascript"></script>
    <script th:inline="javascript">
        var inputs = $('.variant');
        var variants = [[${variants}]];
        var attributes = [[${attributes}]];
        var images = [[${images}]];
    </script>
</variant-manager>
</body>
</html>
