<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<product-manager>
        <h1 class="text-center text-uppercase font-weight-bold mt-5">Danh sách sản phẩm
            <a href="/Lab/admin/Export/Managers" class="col-3">
                <img src="/images/download.png" alt="Tải xuống" style="max-width: 2%">
            </a>
        </h1>
        <!--<h1 style=" text-align: center; font-size: 2em" th:text="'Số lượng: ' + ${#lists.size(managerDTOS)}"></h1>
        <br>
        <div class="d-flex justify-content-around align-content-center">
            <a href="/Lab/admin/Manager/add">
                <button type="button" class="btn btn-primary font-bold font-size-xlg">Thêm người Quản lý</button>
            </a>
        </div>-->
    <form th:action="'/Lengkeng/admin/products/add'" method="post" id="formLesson"
          class="d-flex justify-content-center align-content-center flex-column">
        <div class="row d-flex justify-content-center align-content-center">
            <input type="hidden" name="username" th:value="${#authentication.name}">
            <input type="hidden" name="id" id="id" th:value="0">
            <div class="col-5">
                <div>
                    <label for="productName" >Tên sản phẩm:</label>
                    <input type="text" class="form-control product" id="productName" name="productName" placeholder="VD: Áo Thun nam" required>
                </div>
                <div>
                    <label for="productDesc" >Mô tả:</label>
                    <input type="text" class="form-control product" id="productDesc" name="productDesc" placeholder="VD: Áo mặc mùa hè..." required>
                </div>
            </div>

            <div class="col-6 row">
                <div class="col-6">
                    <div>
                        <label for="category"> Danh mục</label>
                        <select name="category" id="category"  class="form-control product">
                            <option th:each="category : ${categories}" th:value="${category.id}"
                                    th:text="${category.catname}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="brand"> Thương hiệu </label>
                        <select name="brand" id="brand"  class="form-control product">
                            <option th:each="brand : ${brands}" th:value="${brand.id}"
                                    th:text="${brand.brandname}"></option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label for="supplier"> Nhà cung cấp</label>
                        <select name="supplier" id="supplier"  class="form-control product">
                            <option th:each="supplier : ${suppliers}" th:value="${supplier.id}"
                                    th:text="${supplier.suppliername}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="unit">Đơn vị tính</label>
                        <select name="unit" id="unit"  class="form-control product">
                            <option th:each="unit : ${units}" th:value="${unit.id}"
                                    th:text="${unit.unit}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" id="btnSubmit" class="btn btn-primary mt-2"
                onclick="return confirm('Bạn có chắc chắn muốn thực hiện thao tác này???')"> Thêm mới</button>
        <p class="text-warning mt-2 btn" id="warning">Chú ý: Click lại nút sửa một lần nữa để hủy chế độ sửa</p>
    </form>
        <br>
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Loại hàng</th>
                        <th>Thương hiệu</th>
                        <th>Nhà cung cấp</th>
                        <th>Đơn vị tính</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product, iter : ${products}">
                        <td th:text="${iter.index + 1}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.category.catname}"></td>
                        <td th:text="${product.brand.brandname}"></td>
                        <td th:text="${product.supplier.suppliername}"></td>
                        <td th:text="${product.unit.unit}"></td>
                        <td th:text="${product.productDesc}"></td>
                        <!--<td th:if="${manager.hireEndDate != null}" th:text="'✅ ' + ${manager.hireEndDate}"> </td>-->
                        <!--<td th:if="${manager.hireEndDate == null}"> ❌ </td>-->
                        <td>
                            <div class="d-flex" style="display: flex; justify-content: center; align-items: center;">
                                <button type="button" class="btn btn-sm btn-primary btn-edit mr-1"
                                        th:data-id="${product.id}"
                                        th:data-name="${product.productName}"
                                >Sửa</button>
                                <form th:action="@{'/Lengkeng/admin/products/detail/' + ${product.id}}"
                                      method="get">
                                    <button type="submit" class="btn btn-info btn-sm mr-1">Chi tiết</button>
                                </form>
                                <form th:action="@{'/Lengkeng/admin/products/del/' + ${product.id}}"
                                      method="POST">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>STT</th>
                        <th>Tên SP</th>
                        <th>Loại hàng</th>
                        <th>Thương hiệu</th>
                        <th>Nhà cung cấp</th>
                        <th>Đơn vị tính</th>
                        <th>Mô tả</th>
                        <th>Thao tác</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    <script th:inline="javascript">
        var inputs = $('.product');
        $(document).ready(function () {
            var products = [[${products}]];
            $('#warning').hide();
            $('.btn-edit').click(function() {
                var product_id = $(this).attr('data-id');
                var product = $.grep(products, function(product1) {
                    return product1.id == product_id;
                });
                console.log(product[0]);


                if($('#id').val()==product_id){
                    $('#id').val(0);
                    $('#productName').val("");
                    $('#category').prop('selectedIndex', 0);
                    $('#brand').prop('selectedIndex', 0);
                    $('#supplier').prop('selectedIndex', 0);
                    $('#unit').prop('selectedIndex', 0);
                    $('#productDesc').val("");
                    $('#btnSubmit').text('Thêm mới');
                    inputs.each(function() {
                        $(this).removeClass('font-weight-bold')
                    })
                    $('#warning').hide()
                }
                else {
                    // Populate the input and select fields with lesson information
                    $('#id').val(product[0].id);
                    $('#productName').val(product[0].productName);
                    $('#category').val(product[0].category.id);
                    $('#brand').val(product[0].brand.id);
                    $('#supplier').val(product[0].supplier.id);
                    $('#unit').val(product[0].unit.id);
                    $('#productDesc').val(product[0].productDesc);
                    $('#btnSubmit').text('Sửa');
                    inputs.each(function() {
                        $(this).addClass('font-weight-bold')
                    })
                    $('#warning').show();
                }

                function selectOptionById(elementId, valueToSelect) {
                    $('#' + elementId + ' option').each(function() {
                        if ($(this).text() === valueToSelect) {
                            $(this).prop('selected', true);
                        }
                    });
                }

            })
        })
    </script>
    </product-manager>
</body>
</html>
