/* Tùy chỉnh kiểu của trang */
body {
    background-color: #f8f9fa;
    padding: 20px;
}

.bodyDetailAndReview{
    margin-top: 100px;
    margin-bottom: 50px;
}
/* Phần thông tin điện thoại bên trái */
.col-md-4 {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Phần hình ảnh và đánh giá bên phải */
.col-md-8 {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Đánh giá sản phẩm */
.rating {
    font-size: 24px;
}

.star {
    color: #FFD700;
    margin-right: 5px;
}
/* Áp dụng màu nền và màu văn bản cho phần giá */
/* Áp dụng kiểu cho giá số */
.price {
    color: red; /* Màu đỏ */
    font-size: 28px; /* Kích thước lớn hơn */
    border: 2px solid red; /* Đường viền */
    padding: 5px 10px; /* Khoảng cách giữa nền và văn bản */
    border-radius: 5px; /* Đường viền cong */
    transition: all 0.3s ease; /* Hiệu ứng hover */
}

/* Hiệu ứng hover */
.price:hover {
    background-color: red; /* Màu nền đỏ khi hover */
    color: white; /* Màu văn bản trắng khi hover */
}

.ImgshowDetail{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.ImgshowDetail-item{
    border: 2px solid #0056b3; /* Đường viền */
    border-radius: 20px;
    width: 32%;
}

button {
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

/* Comment */
.box-info__avatar>span{
    background-color: #5d1a7f;
    color: #fff;
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 25px;
    justify-content: center;
    margin: 0 5px 0 0;
    text-transform: capitalize;
    width: 25px;
}
.content-user{
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 0.5em;
}
.content{
    width: 95%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;
    margin-bottom: 5px;
}