<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<headerCart>
    <!--<div class="d-flex flex-row justify-content-start align-content-center">-->
        <!-- Logo-->
        <!--<a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="/">-->
            <!--<div class="d-flex align-items-center">-->
                <!--<svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>-->
            <!--</div>-->
        <!--</a>-->
        <!-- / Logo-->
        <nav class="d-none d-md-block mx-auto">
            <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                <li class="me-4"><a class="nav-link-checkout active"
                                    href="/Lengkeng/cart">Giỏ hàng của bạn</a></li>
                <li class="me-4"><a class="nav-link-checkout "
                                    href="/Lengkeng/checkout">Thông tin thanh toán</a></li>
                <li class="me-4"><a class="nav-link-checkout "
                                    href="/Lengkeng/checkout_shipping">Vận chuyển</a></li>
                <li><a class="nav-link-checkout nav-link-last "
                       href="/Lengkeng/checkout_payment">Thanh toán</a></li>
            </ul>
        </nav>
    <!--</div>-->
</headerCart>
</body>
</html>